$white: #fff;
$dark: #2b2b2b;
$success: #57df72;
$error: #f0331a;
$warning: #FF9F43;

$colors: (
  'white': (
    'color': $white,
    'textColor': $dark
  ),
  'dark': (
    'color': $dark,
    'textColor': $white
  ),
  'success': (
    'color': $success,
    'textColor': $white,
  ),
  'error': (
    'color': $error,
    'textColor': $white,

  ),
  'warning': (
    'color': $warning,
    'textColor': $dark,
  ),
);
